*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*NAVIGATION BAR - HEADER SECTION - START*/

.header{
    height: 450px;
    width: 100%;
    background-image: url(../Images/stars.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.title{
    font-size: 20px;
    color: black;
    font-weight: bold;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
}
nav{
    display:flex;
    padding: 2% 4%;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
}
.dropdown-content a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.dropdown-content a:hover::after{
    width: 100%;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/*NAVIGATION BAR - HEADER SECTION - END*/

/*MAIN SECTION - START*/

.inst-container{
    width: 80%;
    margin: auto;
    text-align: center;
}
.inst-container h1{
    font-size: 60px;
    color: black;
    font-weight: bold;
    text-align: center;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;
}

.inst-container h2{
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;
}

#moreBtn{
    display: inline-block;
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
    border-radius: 10px;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 30px;
    font-weight: bold;
    background: transparent;
    position: relative;
    cursor: pointer;
}
#moreBtn:hover{
    color: whitesmoke;
    background: black;
    transition: 1s;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.col{
    flex-basis: 32%;
    border-radius: 10px;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    background-image: url(../Images/stars.jpg);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.832);
    text-align: center;
    position: relative;
    overflow: hidden;
}
.col h1{
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-align: center;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;
}
.col h3{
    font-size: 25px;
    color: white;
    text-align: center;
}
.img-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.img-col img{
    width: 80%;
    margin: auto;
    border: 1px solid white;
    object-fit: cover;
    transition: 0.5s;
}
.logo-col{
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.logo-col img{
    width: 30%;
    margin: auto;
    object-fit: cover;
    transition: 0.5s;
}
.col p{
    color: white;
    margin-top: 20px;
}
.col a{
    color: gold;
}
.dummy-col{
    flex-basis: 32%;
    margin: 20px;
    position: relative;
    overflow: hidden;
}

/*MAIN SECTION - START*/

/*FOOTER SECTION - START*/

.footer{
    width: 100%;
    text-align: left;
    padding: 30px 0;
    background-image: url(../Images/stars.jpg);
    background-position: center;
    background-size: cover;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 100px;
}
.footer h1, p{
    color: white;
    font-size: 14px;
    font-weight: bold;
}
  
@media(max-width: 900px){
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background-image: url(../Images/stars.jpg);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: right;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;

    }
    .header{
        height: 100vh;
    }
    .inst-container{
        width: 90%;
        height: auto;
        margin-top: 20px;
    }
    .inst-container h1{
        font-size: 50px;
    }
    .text-box h1{
        font-size: 20px;
    }
    .dropdown:hover .dropdown-content {
        display: block;
        right: 100px;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .col{
        flex-basis: 100%;
        padding-top: 20px;
        margin-bottom: 20px;
    }
}
